/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
        /* HEADER INICIO */
header > section{
    width: 100%;
    display: flex;
    padding: 1.2em;
    justify-content: space-around;
    align-items: center;
    color: #008F8C;
}

header > section > #logo{
    font-size: 2em;
}

#home{
    display: flex;
    gap: 1em;
   
}
#home > a{
    color: #008F8C;
    transition: 200ms;
}
#home > a:hover{
    color: #055856;
}

/* FIM DO HEADER */


/* MAIN INICIO */
main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

main > #sobre{

    width: 50%;
   
}

#sobre > p{
    color: #008F8C;
    font-size: 25px;
    margin: 1em 0 1em 0;
    font-family: "Roboto Mono", monospace;

}

#sobre > div > h1{
    width: 60%;
    margin: 1em 0 1em 0;
    font-size: 2.3em;
    color: #0CABA8;
    font-family: "Roboto Mono", monospace;

}

h1 > span{
    color: #015958;
}


#sobre > div > p {
    width: 70%;
    font-size: 1.2em;
    margin: 1em 0 1em 0;
}


.buttons01{
    background-color: #0FC2C0;
    border: none;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.205);
    transition-duration: 200ms;
}

#buttonDif{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.273);
}

 .buttons01:hover{
    background-color:#0da19e ;
}


#buttonDif:hover{
    border: 1px solid #0da19e ;
}



/* MAIN FIM */


/* FOOTER INICIO */